.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
}

.header_menu {
  height: 22px;
  margin-left: 50px;
  font-size: 18px;
}

.menu_links {
  display: flex;
  gap: 26px;
  list-style: circle;
}

.link_list {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.main_link_marker {
  list-style: none;
}

.link_main {
  text-decoration: none;
}

.header_logo {
  width: 148px;
  height: 105px;
  align-items: center;
}

.header a:has(.header_logo) {
  display: block;
}

.header address {
  justify-self: end;
}

.address {
  width: 240px;
  height: 98px;
  margin-right: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  list-style: none;
}

.cover {
  position: relative;
  display: flex;
  align-items: center;
  height: 757px;
  margin-bottom: 180px;
  color: white;
  text-transform: uppercase;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover_title {
  position: relative;
  z-index: 2;
  width: 1000px;
  margin: 165px 50px 106px;
  color: white;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 25px;
  text-align: center;
}

.cover_title > span {
  display: block;
}

.cover_title span span {
  display: inline;
}

.text_cover {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_cover .no_letter_spacing {
  letter-spacing: 0;
}

.text_cover .letter_spacing {
  letter-spacing: 60px;
}

.cover_description {
  position: absolute;
  z-index: 2;
  right: 50px;
  bottom: 50px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.cover_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 20px;
}

.button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  width: 1052px;
  min-height: 723px;
  margin: 0 24px 120px;
}

.title_lots {
  padding-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.container_lots {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
}

.card_lots {
  width: 334px;
  min-height: 596px;
  margin: 0;
}

.card_lots a {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card .overlay {
  z-index: 1;
}

.card > *:not(.overlay) {
  position: relative;
  z-index: 2;
}

.card_about_cinema {
  background-image: url("../images/card-lot-01.jpg");
}

.card_about_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_about_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card_title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.link_lots {
  text-decoration: none;
}

.text_on_card {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.view_more {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-underline-offset: 3px;
}

.about {
  width: 1052px;
  margin: 0 24px 180px;
}

.about_container {
  display: grid;
  grid-template-columns: 359px 1fr;
  column-gap: 24px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 72px 0 47px;
  border-radius: 50%;
  background-color: black;
}

.about_logo_image {
  width: 148px;
  height: 114px;
}

.about_content {
  display: flex;
  flex-direction: column;
}

.title_about {
  margin-top: 136px;
  margin-bottom: 100px;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about_text {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text_up {
  margin-bottom: 24px;
}

.text_down {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  margin: 180px auto 0;
  padding-right: 50px;
  padding-left: 50px;
}

.footer_address {
  width: 264.58px;
  max-width: 264.58px;
  height: 98px;
  margin-right: 0;
  font-size: 18px;
  font-style: normal;
}

.footer_menu {
  justify-self: center;
}

.footer_menu_links {
  list-style: none;
  text-underline-offset: 3px;
}

.footer_links {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.footer_main {
  text-decoration: none;
}

.footer_images {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.images_footer {
  width: 48px;
  height: 48px;
}
